/*
Palette URL: http://paletton.com/#uid=5430u0kpjIDeJS4krN3uVEvBesI

.rgba-primary-0 { color: rgba( 78, 67,211,1) } Main Primary color (blue-ish)
.rgba-primary-1 { color: rgba(148,141,233,1) } (light)
.rgba-primary-2 { color: rgba(109,100,221,1) }
.rgba-primary-3 { color: rgba( 46, 34,201,1) }
.rgba-primary-4 { color: rgba( 28, 18,159,1) } (dark)
.rgba-secondary-1-0 { color: rgba(129, 56,208,1) } Main Secondary color (purple-ish)
.rgba-secondary-1-1 { color: rgba(181,134,232,1) } (light)
.rgba-secondary-1-2 { color: rgba(152, 90,219,1) }
.rgba-secondary-1-3 { color: rgba(106, 22,197,1) }
.rgba-secondary-1-4 { color: rgba( 79, 10,155,1) } (dark)
.rgba-secondary-2-0 { color: rgba( 55,128,204,1) } Main Secondary color (light-blue-ish)
.rgba-secondary-2-1 { color: rgba(132,180,230,1) } (light)
.rgba-secondary-2-2 { color: rgba( 89,151,216,1) }
.rgba-secondary-2-3 { color: rgba( 21,105,192,1) }
.rgba-secondary-2-4 { color: rgba(  9, 78,149,1) } (dark)
*/

:root {
  --main-color: rgb(78, 67, 211);
  --lighter-main-color: rgb(148, 141, 233);
  --light-main-color: rgb(109, 100, 221);
  --dark-main-color: rgb(46, 34, 201);
  --darker-main-color: rgb(28, 18, 159);
  --fst-sec-color: rgb(129, 56, 208);
  --lighter-fst-sec-color: rgb(181, 134, 232);
  --light-fst-sec-color: rgb(152, 90, 219);
  --dark-fst-sec-color: rgb(106, 22, 197);
  --darker-fst-sec-color: rgb(79, 10, 155);
  --scnd-sec-color: rgb(55, 128, 204);
  --lighter-scnd-sec-color: rgb(132, 180, 230);
  --light-scnd-sec-color: rgb(89, 151, 216);
  --dark-scnd-sec-color: rgb(21, 105, 192);
  --darker-scnd-sec-color: rgb(9, 78, 149);
  --backgrounds-height: 30vw;
}

body {
  margin: 0;
  padding: 0;

  /* height: 300vh; */
  overflow-x: hidden; /* Remove horizontal scroll bar */
}

header {
  height: calc(100vh + 450px);
  background-image: url('./../images/universe.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 150;
}

header .icon {
  border-radius: 100%;
  width: 7vw;
  min-width: 100px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  user-select: none;
  margin-top: 10px;
  /* z-index: inherit; */
  z-index: 150;
}

header .hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: inherit; */
  z-index: 150;
}

header .hello h1 {
  color: lightgray;
  font-family: gravity;
  font-size: 7em;
}

header video {rojects
  height: calc(100% + 450px);
  position: absolute;
  left: -50%;
  z-index: 50;
}

section {
  position: relative;
  background-color: var(--section-color);
  height: var(--section-height);
  z-index: 100;
}

section h2 {
  position: relative;
  top: calc(-225px + 1em);
  left: 0;
  right: 0;
  font-family: gravity;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  z-index: 200;
}

section .content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: gravity;
  height: 100%;
  top: -162px;
  z-index: 200;
}

section .content {
  padding: 0 5%;
}

section .content > p {
  font-size: 1.5em;
  text-align: justify;
}

section .content p {
  font-family: gravity;
}

section::before {
  z-index: 100;
  content: '';
  display: block;
  position: absolute;
  height: 225px;
  width: 120%;
  top: 0;
  right: 0;
  transform: rotate(5deg);
  transform-origin: right top;
  background-color: var(--section-color);
}

section::after {
  z-index: 100;
  content: '';
  display: block;
  position: absolute;
  height: 225px;
  width: 120%;
  bottom: 0;
  left: 0;
  transform: rotate(5deg);
  transform-origin: left top;
  background-color: var(--section-color);
}

.background {
  position: relative;
  float: left;
  height: var(--backgrounds-height);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 15px;
  justify-content: center;
  width: 100%;
}

.card {
  border-radius: 4px;
  box-shadow: 0 0 1px black;
  width: 400px;
  overflow: hidden;
  justify-self: center;
  background-color: var(--card-color);
  transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 0 5px black;
}

.card .image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
}

.card .image-container img {
  height: 300px;
  max-width: 70%;
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}

.card:hover .image-container img {
  transform: scale(1.0);
  transition: transform 0.5s ease-in-out;
}

.card h3, .card p {
  padding: 0 5%;
}

.card h3 {
  font-family: gravity;
  font-weight: bold;
  font-size: 2em;
}

.card:hover h3 {
  text-decoration: underline;
}

.card p {
  font-size: 1.3em;
  text-align: justify;
}

.show-more {
  all: unset;
  border: none;
  background-color: #0060df;
  color: white;
  border-radius: 2px;
  height: 32px;
  padding: 10px 32px;
  margin-top: 50px;
  font-family: gravity;
  font-size: 1.5em;
  cursor: pointer;
}

.list {
  width: 100%;
  font-size: 1.5em;
}

.list ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

section.about-me {
  --section-color: var(--light-scnd-sec-color);
  --card-color: var(--scnd-sec-color);
  margin-top: -225px;
}

section.about-me h2 {
  color: white;
}

section.about-me .content {
  justify-content: flex-start;
}

section.about-me .card-list {

}

.bg1 {
  background-image: url('./../images/cosmos.jpg');
}

section.my-projects {
  --section-color: var(--light-main-color);
  margin-top: var(--backgrounds-height);
}

section.my-projects h2 {
  color: rgb(230, 230, 230);
}

.bg2 {
  background-image: url('./../images/star-sky.jpg');
}

section.contact-me {
  --section-color: var(--lighter-main-color);
  margin-top: var(--backgrounds-height);
  font-
}

section.contact-me h2 {
  color: rgb(230, 230, 230);
}

.bg3 {
  background-image: url('./../images/city.png');
}
